/* RESET CSS */
@import url(reset.css);
/* // RESET */



/* HEADER */
header {
    width: 100%;
    position: fixed;
    height: 100px;
    z-index: 1;
    background-color: black;
    top: 0;
}

/* TITULO DO ICONE */
.li-header p{
    white-space: nowrap !important;
}
/* LOGO - HEADER */
.logo-header {
    margin-left: 70px;
}

.logo-header img {
    width: 180px;
    transition: width 0.7s;
}

.logo-header img:hover {
    width: 200px;
}

/* // LOGO - HEADER */




/* HOVER UL HEADER */
.li-header {
    transition: 0.44s;
}


.li-header:hover {
    color: #00BAFF;
}

/* // HOVER*/

/* // HEADER */


/* PRIMEIRO PARALLAX */
.parallax-1 {
    position: relative;
    padding-top: 300px;
    padding-bottom: 200px;
    background-attachment: fixed;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url(./images/img-parallax/parallax1.jpg);
}

.parallax-1:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(0, 0, 0, 0.6);
}

.parallax-1 h2 {
    position: relative;
}

/* // PRIMEIRO PARALLAX */


/* ITEMS SOBRE NÓS */

/* BOTÕES */
.button-about {
    background-color: #00BAFF;
    width: 150px;
    transition: 0.7s, width 0.7s
}

.button-about:hover {
    background-color: #1167d7;
    width: 200px;
}

/* // BOTÕES */

/* IMAGENS ABOUT */
.img-about {
    width: 100px;
}

/* // IMAGENS ABOUT */

.div-about-cfg {
    max-width: 500px;
    height: 335px;
}

/* SEGUNDO PARALLAX */
.parallax-2 {
    position: relative;
    padding-top: 200px;
    padding-bottom: 200px;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url(./images/img-parallax/parallax2.jpg);
}

.parallax-2:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(0, 0, 0, 0.6);
}

.parallax-2 h2,
.parallax-2 button {
    position: relative;
}

/* // SEGUNDO PARALLAX */

.button-parallax {
    background-color: #04b4f4;
    width: 120px;
    height: 40px;
    transition: 0.7s, width 0.7s
}

.button-parallax:hover {
    background-color: #1167d7;
    width: 200px;
}



/* CONFIGURAÇÕES DO MODO ESCURO */
.dark-mode {
    background-color: #212529;
    color: white;
    transition: 0.4s;
}

.img-about-invert {
    filter: invert(100%);
}

.button-dark-mode {
    width: 1.5em;
    cursor: pointer;

}

/* // MODO ESCURO */


/* FOOTER */
footer {
    width: 100% !important;
    min-height: 150px;
    max-height: 200px;
    background-color: black;
}

/* LOGO */
.fastline-footer img {
    max-width: 200px;
    margin-left: 30px;
}

/* // */


/* REDES SOCIAIS */
.social-medias img {
    max-width: 30px;
}

/* // */
/* // FOOTER */


/* BOTÃO SANDUICHE */

@media (max-width: 768px) {

    /* BOTÃO */
    .entire-menu {
        position: fixed;
        visibility: visible !important;
        padding: 20px;
        width: 100%;
        margin-left: 40px;
        margin-top: 20px;
        z-index: 3;

    }

    .hamburguer {
        width: 20px;
        height: 20px;
        display: block;
        position: relative;
        background: none;

    }

    .hamburguer:after,
    .hamburguer:before,
    .hamburguer span,
    .hamburguer label {
        content: ' ';
        display: block;
        width: 100%;
        height: 4px;
        background: red;
        left: 0;
        position: absolute;
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;


    }

    .hamburguer:before {
        top: 0;
    }

    .hamburguer:after {
        bottom: 0;
    }

    .hamburguer:focus {
        outline: none;
    }

    .hamburguer label {
        width: 100%;
        height: 100%;
        background: none;
        cursor: pointer;
        z-index: 1000;
    }

    .hamburguer span {
        top: 8px;
    }

    /* // */

    /* ANIMAÇÃO */
    #change-hamburguer {
        display: none;
    }

    #change-hamburguer:checked~.hamburguer:before,
    #change-hamburguer:checked~.hamburguer:after {
        top: 10px;
        margin-top: -10%;
    }

    #change-hamburguer:checked~.hamburguer:before {
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    #change-hamburguer:checked~.hamburguer:after {
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    #change-hamburguer:checked~.hamburguer span {
        opacity: 0;
    }

    #change-hamburguer:checked~.menu {
        max-height: 200px;
    }

    /* // ANIMAÇÃO */


    /* CONTEUDO DENTRO */
    .menu {
        max-height: 0;
        background: #000;
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
        overflow: hidden;
        font-family: sans-serif;
        font-weight: 400;
        font-size: 20px;
        width: 50%;
    }

    .menu a {
        text-decoration: none;
        color: #fff;
        padding: 5px 10px;
        display: block;
        text-transform: uppercase;
        border-left: 5px solid #000;
    }

    .menu a:hover {
        border-left: 5px solid #e57373;
        color: #e57373;
        background: #222;
    }

    /* // CONTEUDO DENTRO */

    /* ESCONDENDO OUTROS MENUS */
    .li-header {
        visibility: hidden;
    }

    /* // */

    /* CONFIGURAÇÃO DA IMAGEM */
    .logo-header {
        margin-left: 500px;
        margin-bottom: 10px;
    }

    /* // */
}

/* ESCONDENDO BOTÃO SANDUICHE */
.entire-menu {
    visibility: hidden;
}

/* // */


/* // BOTÃO SANDUICHE */